<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>zeroxiaobai@gmail.com</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>2F481A84-5A0D-4FC1-A201-289ABC3461F3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>813BEA9F-54A9-40A9-B189-3DE1EE775746</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AF2B6147-1FFF-43E9-9DC0-A526FFE711F6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2F481A84-5A0D-4FC1-A201-289ABC3461F3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Zero Xiaobai</string>
	<key>description</key>
	<string>Chinese Classic Poetry</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Poetry</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>ccp</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>加载中...</string>
				<key>script</key>
				<string>$NODE_PATH main.js</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>随机生成一句古诗</string>
				<key>title</key>
				<string>古诗</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2F481A84-5A0D-4FC1-A201-289ABC3461F3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>813BEA9F-54A9-40A9-B189-3DE1EE775746</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>AF2B6147-1FFF-43E9-9DC0-A526FFE711F6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Classical Chinese poetry.

Readme: https://github.com/zeronight/poetry-workflow</string>
	<key>uidata</key>
	<dict>
		<key>2F481A84-5A0D-4FC1-A201-289ABC3461F3</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>813BEA9F-54A9-40A9-B189-3DE1EE775746</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>AF2B6147-1FFF-43E9-9DC0-A526FFE711F6</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>NODE_PATH</key>
		<string>/usr/local/bin/node</string>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://zeronight.github.io/</string>
</dict>
</plist>
